@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body,
html {
  color: #fff;
  background: none;
  font-family: "Open Sans", sans-serif;
  cursor: url(/overwatch.cur), auto;
}

@font-face {
  font-family: "overwatch";
  src: url("~assets/fonts/overwatch.woff") format("woff");
}

@font-face {
  font-family: "overwatch-italic";
  src: url("~assets/fonts/overwatch-italic.woff") format("woff");
}

@font-face {
  font-family: "overwatch-serif";
  src: url("~assets/fonts/overwatch-serif.woff") format("woff");
}

html {
  background-color: rgb(32, 32, 32);
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("~assets/pattern.png") repeat;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: overwatch;
}

h4,
h5 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.text-players {
  color: #1cbc51;
}

.text-gamemode {
  color: #28354f;
}

.modal-content {
  color: #1d1d1d;
}

.owthumb {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-ribbon {
  position: absolute;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  background: #f89e1b;
  text-transform: uppercase;
  font-size: 8pt;
  padding: 5px 15px;
  border-radius: 0;
}

.card-ribbon.-secondary {
  background: #17b113;
}

.card-ribbon.-no-label {
  background: #1d1d1d;
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

ul.owarcade-menu li {
  font-family: overwatch-italic;
  font-size: 24pt;
  list-style: none;
  transition: all 250ms;
}

ul.owarcade-menu li:hover {
  padding-left: 10px;
  transition: all 250ms;
}

ul.owarcade-menu {
  padding: 0;
  margin: 0;
}

.card {
  color: #222222;
  background-color: #ffffff;
  border: none;
}

#socials {
  font-size: 24px;
}

div#socials svg {
  height: 24px;
}

.logo {
  max-height: 64px;
  height: auto;
}

div#contributortile {
  max-width: 250px;
}

.card .card-img-top {
  width: auto;
}

a {
  color: #fa9c1d;
}

a:hover {
  color: #fad40f;
  text-decoration: none;
}

span.flag.small-flag {
  margin: -15px;
}

.container {
  max-width: 1200px;
}

.card-header > h4 {
  margin-top: 4px;
}

.contributiontable {
  display: flex;
  flex-wrap: wrap;

  .day {
    background-color: rgba(0, 0, 0, 0.055);
    height: 10px;
    width: 10px;
    margin: 0px 3px 10px 0px;
  }
  .contributed {
    background-color: greenyellow;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  .largeTile .card .card-img-top {
    height: 400px;
  }
  .card .card-img-top {
    height: 200px;
  }

  .card-ribbon {
    font-size: 12px;
    padding: 2vw 8vw;
  }

  .card {
    height: auto;
    min-height: auto;
  }

  .largeTile .card .card-img-top {
    height: 250px;
  }

  .card .card-img-top {
    height: 250px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .largeTile .card .card-img-top {
    height: 300px;
  }
  .card .card-img-top {
    height: 200px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .largeTile .card .card-img-top {
    height: 300px;
  }
  .card .card-img-top {
    height: 200px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card .card-img-top {
    height: 140px;
  }

  .largeTile {
    height: inherit;
  }

  .largeTile > .card-img-top {
    height: 300px;
  }

  h1 {
    font-size: 48pt;
  }

  h2 {
    font-size: 32pt;
  }

  h3 {
    font-size: 26pt;
  }

  h4,
  h5 {
    font-size: 14pt;
  }
}
