body,
html {
  color: #fff;
  background: none;
  font-family: 'Open Sans', sans-serif;
  cursor: url(/overwatch.cur), auto;
}

@font-face {
  font-family: 'overwatch';
  src: url('~assets/fonts/overwatch.woff') format('woff');
}

@font-face {
  font-family: 'overwatch-italic';
  src: url('~assets/fonts/overwatch-italic.woff') format('woff');
}

@font-face {
  font-family: 'overwatch-serif';
  src: url('~assets/fonts/overwatch-serif.woff') format('woff');
}

html {
  background-color: rgb(32, 32, 32);
  background: linear-gradient(rgba(0, 0, 0, 0.650), rgba(0,0,0,.650)), url('~assets/pattern.png') repeat;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: overwatch;
}

h4,
h5 {
  font-family: overwatch-italic;
}

.text-players {
  color: #1c75bc;
}

.text-gamemode {
  color: #28354f;
}

.modal-content {
  color: #1d1d1d;
}

.owthumb {
  border:1px solid rgba(0, 0, 0, 0.125);
}

.card-ribbon {
  position: absolute;
  left: -0.8vw;
  top: 0.5vw;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  background: #17b113;
  text-transform: uppercase;
  font-size: 8pt;
  padding: 0.49vw 0.62vw 0.29vw;
  border-radius: 0;
}

.card-ribbon::after {
  content: '';
  bottom: -0.8vw;
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #0c590a transparent transparent transparent;
  left: 0;
  width: 0;
  border-width: 0.8vw 0 0 0.8vw;
}

.card-ribbon.-secondary {
  background: #f89e1b;
}

.card-ribbon.-secondary::after {
  border-color: #7c4f0e transparent transparent transparent;
}

.card-ribbon.-no-label {
  background: #1d1d1d;
}

.card-ribbon.-no-label::after {
  border-color: #0e0e0e transparent transparent transparent;
}

ul.owarcade-menu li {
  font-family: overwatch-italic;
  font-size: 24pt;
  list-style: none;
  transition: all 250ms;
}

ul.owarcade-menu li:hover {
  padding-left: 10px;
  transition: all 250ms;
}

ul.owarcade-menu {
  padding: 0;
  margin: 0;
}

.card {
  color: #222222;
  background-color: #ffffff;
  //height: 100%;
}

.card:hover {
  //background-color: #ebebeb;
  //transition: all 250ms;
}

#socials {
  font-size: 24px;
}

.logo {
  max-height: 64px;
  height: auto;
}

div#contributortile {
  max-width: 250px;
}

.card .card-img-top {
  width: auto;
}

a {
  color: #fa9c1d;
}

a:hover {
  color: #fad40f;
  text-decoration: none;
}

span.flag.small-flag {
  margin: -15px;
}

.container {
  max-width: 1100px;
}

.card-header > h4 {
  margin-top:4px;
}

.contributiontable {
  display: flex;
  flex-wrap: wrap;

  .day {
    background-color: rgba(0, 0, 0, 0.055);
    height: 10px;
    width: 10px;
    margin: 0px 3px 10px 0px;
  }
  .contributed {
    background-color: greenyellow;
  }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  .largeTile .card .card-img-top {
    height: 400px;
  }
  .card .card-img-top {
    height: 200px;
  }

  .card-ribbon {
    left: -10px;
    top: 20px;
    font-size: 12px;
    padding: 2.59vw 4.92vw 2.49vw;
  }

  .card-ribbon::after {
    display: none;
  }

  .card {
    height: auto;
    min-height: auto;
  }

  .largeTile .card .card-img-top {
    height: 250px;
  }

  .card .card-img-top {
    height: 250px;
  }

  .card-ribbon::after {
    bottom: -25px;
    border-width: 25px 0 0 25px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .largeTile .card .card-img-top {
    height: 400px;
  }
  .card .card-img-top {
    height: 200px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .largeTile .card .card-img-top {
    height: 400px;
  }
  .card .card-img-top {
    height: 200px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card .card-img-top {
    height: 150px;
  }

  .largeTile {
    height: 100%;
  }

  .largeTile .card .card-img-top {
    height: 428px;
  }

  h1 {
    font-size: 48pt;
  }

  h2 {
    font-size: 32pt;
  }

  h3 {
    font-size: 26pt;
  }
}
